<!DOCTYPE html>

<html>

<head>
<link rel="stylesheet" href="./css/styletest.css">
<link rel="icon" href="/css/icon.png">
<script src="./js/app.js"></script>


</head>

<body>
    <div class="main">
        <h1>{{>header}}</h1>
        <p>{{errorMessage}}</p>
    </div>
        {{>footer}}
</body>

</html>