<!DOCTYPE html>

<html>

<head>
<link rel="icon" href="/css/icon.png">
<link rel="stylesheet" href="./css/styletest.css">
<meta name="viewport" content="width=device-width, initial-scale=1.0">


</head>

<body>
    <div class="progressbar"></div>
    <div class="main">
        <h1>{{>header}}</h1>
        <p>Use this site to get your weather</p>

        <form>
            <input type='text' placeholder="Enter a location">
            <button value="Search" name="Search">Search</button>
        </form>

        <p id="message-1"></p>
        <p id="message-2"></p>
    </div>
        {{>footer}}

        
<script src="./js/app.js"></script>

 
</body>

</html>